[2021-03-02 15:49] ewhelan opened #1 "Moving platforms average maps do not make sense"
Averaging maps for moving platforms such as scatterometer do not make sense. Suggest to either remove option or carry out grid-averaging for moving platforms

From [https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics](https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics)

[2021-03-02 15:50] ewhelan opened #2 "Station identifier and codetype filter for maps/statistics"
A filter for data by identifier/codetype for maps/statistics would be nice. Request for menu option.

From [https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics](https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics)

[2021-03-02 15:51] ewhelan opened #3 "Request to make colour scale and data range editable on plots"
Request to make colour scale and data range editable on plots

From [https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics](https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics)

[2021-03-02 15:51] ewhelan opened #4 "Request for hPa instead of Pa on vertical profiles"
Request for hPa instead of Pa on vertical profiles

From [https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics](https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics)

[2021-03-02 15:56] ewhelan opened #5 "Variable units on plots"
Request for variable units on plots

From [https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics](https://hirlam.org/trac/wiki/Meetings/HarmonieWorkingWeek/UseofObsandALGO202010/Day2Diagnostics)

[2021-03-03 08:53] isabelmonteiro commented on #1
I think it makes sense, if you use an appropriate grid to do averaging, and a time series long enough to have enough match ups in each grid point. We did this for o-f HARMONIE (against o=ScatSat), check fig att  and the NWPSAF does this for o-b by routine for ECMWF and UKV, just check the link.https://nwp-saf.eumetsat.int/site/monitoring/winds-quality-evaluation/scatterometer-mon/scatt-monthly-mon

[2021-03-03 09:42] paulovcmedeiros commented on #1
The averages are computed for each `(lon, lat)` coordinate separately. If a platform has position `A` at DTG `X` but moves to position `B` at DTG `Y`, then the average plot over DTGs `X` and `Y` will show observations for both positions `A` and `B`. Data for different positions are never mixed together.

I don't think that removing these plots for moving platforms is a good way to go. Once it is c

[2021-03-03 09:54] paulovcmedeiros commented on #1
By the way, I'm quite happy we've finally managed to make the code open-source and moved it here. I ~~believe~~ hope it will make it much easier to get people to collaborate. Besides, the issue tracking system here, integrated with the repo itself, makes everything more transparent for collaborators and users alike. So, thanks for using the issue tracking system and discussing things here.

[2021-03-03 10:22] isabelmonteiro commented on #1
We (=IPMA) can contribute Paulo, if you find that it can be useful, we have already some python code to do this . The hard part in our coding was indeed to go from scatter lat lon files to grided data. We are very new in obsmon, but willing to help

[2021-03-08 07:37] paulovcmedeiros commented on #1
Hello @isabelmonteiro,

I'm afraid the code needs to be in R. I actually also have code for domains & grids in python (for another project), but porting it involves more than just translating. It would be greate if you could fork the repo, work in your local fork, incorporate the new code there, and then submit a merge request.

[2021-03-24 13:23] ewhelan opened #6 "Fixed map plot areas in 3.11.0"
Hi Paulo,

I hope you are still supporting 3.11.0!

In 3.3.2 I fixed map plot area with the following in src/plots/plots_maps.R with the following:

`#EOIN  x1 <- min(plotData$longitude)-2`
`#EOIN  x2 <- max(plotData$longitude)+2`
`#EOIN  y1 <- min(plotData$latitude)-2`
`#EOIN  y2 <- max(plotData$latitude)+2`
 ` x1 <- -35`
`  x2 <- 5`
`  y1 <- 45`
`  y2 <- 65`
This doesn't seem to work in 3.11.0.

[2021-03-24 13:46] paulovcmedeiros commented on #6
Hi Eoin,

I'm not really supporting v3.11.0... I changed quite a lot of stuff related to the used R-packages. My guess is that something changed in the plotting libraries (maybe ggplot2 or plotly), but this is just a guess.

My advice would be for you to upgrade and try your fix in the new version.

I'm gonna close this since this is not really an issue (your fix is quite specific to the area you

[2021-03-24 13:46] #6 closed

[2021-03-24 13:53] ewhelan commented on #6
Thanks Paulo.

Hacked the plotly geo specification to sort this.

Will brave v4.X soon!

Eoin

[2021-04-06 12:54] marikenh opened #7 "Surface (CANARI) Timeseries plot of "Number of Observations" with number of observations that have been used (with anflag 1) only"
or in addition to the total number of observations that is currently showed in the plot.

[2021-05-05 10:02] paulovcmedeiros commented on #7
Hi @marikenh ,

I'm a bit reluctant to make a new  "Number of Used Observations" plot using just `anflag == 1` as condition. This is because, in obsmon's source code, I see that any `anflag > 0` may result in an "Active(2)" label, except for `anflag == 4` (Rejected) and `anflag == 8` (Blacklisted).

Would you be able to point me to some documentation about how these various `anflag` values are det

[2021-05-05 14:03] ewhelan commented on #7
From ODB documentation: [https://www.ecmwf.int/file/25476](https://www.ecmwf.int/file/25476)
7.2.3 Report/datum status flags:
| Member name | Bit range | Description       |
|-----------------|------------|------------------|
|active               |0                |Active flag         |
|passive             |1                |Passive flag       |
|rejected            |2                |Rejected f

[2021-05-05 14:33] paulovcmedeiros commented on #7
Thanks @ewhelan !

This, however, doesn't really match what  @trygveasp originally wrote in obsmon. In fact, it seems to be in direct contradiction: In obsmon, `anflag==0` could potentially have the corresponding data entry labelled as `Rejected` instead of `Active`, as the table indicates. See, e.g., [line 205 of the src/plots/plots_maps.R file](https://github.com/Hirlam/obsmon/blob/361c36e0f3b5d

[2021-05-05 15:42] ewhelan commented on #7
I am not sure what situation anflag would be set to zero.

In prepObsmon @trygveasp extracts the anflag active/rejected/passive/blacklisted bits (value=[0,1]) rather than the value of anflag in [src/odb/ddl/obsmon_conv.sql](https://github.com/Hirlam/Harmonie/blob/develop/src/odb/ddl/obsmon_conv.sql)

[2021-05-05 16:33] paulovcmedeiros commented on #7
But the code does extract `datum_anflag.final` which, according to Table 7.2.2 in the document you pointed out earlier, has a "bit" range `0-3`.
Table 7.2.3 then goes to explain this range, as you've already pointed out:
[code]

I'm not convinced that picking `anflag == 1` is the way to accomplish what @marikenh wishes. Would it make sense to pick `active == 1` instead?

[2021-05-05 19:12] marikenh commented on #7
Thank you for looking at this issue!

The original CANARI documentation from 2002 (available on http://www.umr-cnrm.fr/gmapdoc/spip.php?article3 ) gives a definition of the analysis flag coded over 29 bits: I had a look at those values more than 10 years ago, extracting some information.

But in the later years I have extracted only datum_anflag.final from odb, for monitoring the surface analysis,

[2021-05-06 09:00] paulovcmedeiros commented on #7
Thanks, @marikenh !

The values you present look indeed compatible with what is expected in the current obsmon code. Thanks for the clarification.

I think it is possible then to do something more general, taking into account some other quality control flags (that may apply to other types of observations) instead of just selecting `anflag == 1`. I'll make a new "Number of **Active** Observations"

[2021-05-17 10:01] paulovcmedeiros commented on #7
Done. A new "Number of Active Observations" plot has been added in obsmon v4.1.0.

[2021-05-17 10:01] #7 closed

[2021-05-17 10:02] paulovcmedeiros commented on #5
Done. This has been made available in obsmon v4.1.0.

[2021-05-17 10:02] #5 closed

[2021-05-17 10:03] paulovcmedeiros commented on #4
This is a special case of what was requested #5 and is now done as a result of implementing that request.

[2021-05-17 10:03] #4 closed

[2021-05-17 10:03] paulovcmedeiros commented on #3
Done. Available from obsmon v4.1.0.

[2021-05-17 10:03] #3 closed

[2021-05-17 10:07] paulovcmedeiros commented on #2
Done in obsmon v4.1.0. Not only the station picker field was made searchable, but most other fields too (wherever applicable).

[2021-05-17 10:07] #2 closed

[2021-07-14 09:15] roger-randria opened #8 "Mean departures (OMG & OMA) per station or satellite"
Hi,

It'd be good to have the possibility to plot an averaged values / profiles of OMG (fg_depart) and OMA (an_depart) over a certain period. See for example the file from the link below, which shows the plot for the case AMSUA radiance.

https://www.dropbox.com/s/5j6ndki3qt1ymgh/amsua_NOAA-18_stat.eps?dl=0
![roger_example_plot](https://user-images.githubusercontent.com/6304559/126492266-8597ffd3-

[2021-07-21 12:59] paulovcmedeiros commented on #8
I edited the comment above just to include the figure here directly

[2021-07-21 15:20] roger-randria commented on #8
Very good. Thanks Paulo. BTW, both scores can be included in one plot, like the ones already existing in Obsmon.

[2021-07-22 07:52] paulovcmedeiros commented on #8
Hi @roger-randria ,

Could you try the code in the `new/plot/avg-fg-dep` branch and let me know if the plots correspond to what you expected?

To switch branches and update the code, you can do (in the obsmon directory):

[code]

Let me know how it goes. Thanks :)

[2021-07-22 08:21] roger-randria commented on #8
Thanks. I think it doesn't work.
![Screenshot from 2021-07-22 10-19-05](https://user-images.githubusercontent.com/81994095/126609494-3ec7959c-a991-48a6-a0c1-41135ff89aad.png)

[2021-07-22 08:25] paulovcmedeiros commented on #8
lol

That's not the plot I implemented (btw, this one looks like that because there are too many levels selected).

The new plots are at the top of the plot list. They are called "Average First Guess and Analysis Bias/RMS" and "Average First Guess and Analysis Departure".

[2021-07-22 08:26] roger-randria commented on #8
I'm trying other variables. Just in case it works for some of them...

[2021-07-22 08:32] paulovcmedeiros commented on #8
No, but I mean test the new plots, not this one you tested right now. This timeseries plot you tested is something else, doesn't apply here.

[2021-07-22 09:30] roger-randria commented on #8
Can we have short chat on Gmeet?

[2021-07-22 09:32] roger-randria commented on #8
This works well :)

[2021-07-22 09:34] roger-randria commented on #8
NO, one thing is missing. The selection of station. Here we have all stations involved. We would like also to monitor different stations/satellites instruments.

[2021-07-22 09:51] paulovcmedeiros commented on #8
Ok, then it's another (extra) type of plot. I'll implement this as well and let you know once I'm finished.
Thanks for the feedback!

[2021-07-22 10:17] roger-randria commented on #8
Sounds good. Thanks in advance.

[2021-07-22 12:01] paulovcmedeiros commented on #8
Can you go to your obsmon directory, run

`git pull origin base --rebase`

and then test the new "Station Average First Guess and Analysis Departure" plot?

Let me know how it goes.

[2021-07-22 12:18] roger-randria commented on #8
git pull origin master --rebase
From https://github.com/Hirlam/obsmon
 * branch            master     -> FETCH_HEAD
Current branch new/plot/avg-fg-dep is up to date.

But, I don't see this "Station Average First Guess and Analysis Departure"

[2021-07-22 12:41] paulovcmedeiros commented on #8
You need to be in the `new/plot/avg-fg-dep` branch. Run

`git checkout new/plot/avg-fg-dep`'

and then the other commands and this should make the new plot available to you.

[2021-07-22 13:31] roger-randria commented on #8
Very strange thing is happening ...
![obsmon_plot](https://user-images.githubusercontent.com/81994095/126647243-7a86bd86-9a87-4188-8ebf-358a42e23c2b.png)

[2021-07-22 13:33] paulovcmedeiros commented on #8
I think I know what may be happening. Could you send me some sample input databases? If possible, these that you used to produce this plot. Just so i can reproduce the issue and fix it quicker.

[2021-07-22 13:37] roger-randria commented on #8
Get it from here: https://www.dropbox.com/s/xq6yegiqtb48tec/FroPaulo.tgz?dl=0

[2021-07-23 09:14] paulovcmedeiros commented on #8
Hi @roger-randria ,

After inspecting your data, I see that the the code actually behaves the way it is expected to. What you see in your figure is a consequence of the existence of many levels located close together for the observation type you selected. If you zoom in, or if you inspect the data used for the plot, you'll see that the levels are not the same.

The large number of levels is due to

[2021-07-23 13:18] roger-randria commented on #8
I think it's problematic. It doesn't produce bias/RMS and only fg_depar or an_depar. I think "Average Total First-guess and Analysis Bias/RMS should be used as example because this works fine.

I can get only only lowest level when asking for "standard level only". This should make it as you suggested.

[2021-07-26 07:31] paulovcmedeiros commented on #8
I'm not sure it is problematic. I would perhaps say it is not what you hoped, but the plot really shows what is available in the `usage` table in the data files.

There is, for instance, no RMS data in the `usage` tables. I can of course calculate RMS for the averages that the plot produces, but the averages are performed over DTGs & levels, and I'm not sure if this is what you are looking for.

I

[2021-07-28 14:39] paulovcmedeiros commented on #8
I've added a new "Standardise Levels in the Final Plot" switch to obsmon's UI now, so that users can optionally request that the non-standard levels be standardised (i.e., cast into the nearest reference levels) in cases such as the one we're dealing with here.

@roger-randria Could you test it? Same thing as before:

[code]

[2021-08-04 13:41] lagemuchi opened #9 "Obsmon v4.1.0"
Hello,
I have just installed version 4.1.0 and this is what I get when I draw a coloured map. It is great you can choose from different colour palletes but in the new arrange the map is very small.
Might be something related with my local installation? Is it the way it should be?

Thank you!
Gema

![imagen](https://user-images.githubusercontent.com/79901619/128189552-1c48dd00-16eb-44e0-a105-b47ed5

[2021-08-04 14:03] paulovcmedeiros commented on #9
Hi @lagemuchi ,

The default initial size needed to be reduced to make room for the extra controls. The actual size of the map, however, depends on many factors including the size of your own screen. You can try resizing the screen you are using to get a larger picture.

Mind also that the colorbar can be dragged using the mouse, and this sometimes causes the plot to be resized, which may help in

[2021-08-04 14:08] lagemuchi commented on #9
Ok. Thanks, Paulo
Gema

Vínculos:
---------
[1] https://github.com/lagemuchi
[2] https://github.com/Hirlam/obsmon/issues/9#issuecomment-892686141
[3]
https://github.com/notifications/unsubscribe-auth/ATBTHM5P2BNNXUW3VJWDCVLT3FCEBANCNFSM5BRFIVXA
[4]
https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675
[5]
https://play.google.com/store/apps/details?id=com.github.a

[2021-08-05 06:51] paulovcmedeiros commented on #9
You're welcome :)

[2021-08-05 06:51] #9 closed

[2021-08-13 10:00] paulovcmedeiros commented on #9
Hi again @lagemuchi ,

Just FYI, I have now made that new menu collapsible. This should also help making more space for the plot.
The changes are in the `devel` branch at the moment but will make their way into `master` soon.

Cheers,
Paulo.

[2021-08-13 10:15] paulovcmedeiros commented on #8
Hi @roger-randria ,

I've added some error bars in these plots as well (when applicable). Along with the other stuff I discussed above, I think this should accomplish what you wish to see.

I have now merged these changes into `devel` and deleted the `new/plot/avg-fg-dep` branch.

I'm also closing this issue since I think this is now done. Please feel free to reopen it should you see any problem I

[2021-08-13 10:15] #8 closed

[2021-08-13 12:15] roger-randria commented on #8
Hi Paulo,

First of all, thanks a lot for the update. I see you closed already this task, but I think it'd be good to have bias and standard deviation instead. Is that doable?

Roger

[2021-08-13 12:21] roger-randria commented on #8
Sorry. I didn't pay attention to your last comment. I need to check it, but repeating the line above, I get the comment below:
git pull origin new/plot/avg-fg-dep --rebase
fatal: Couldn't find remote ref new/plot/avg-fg-dep

[2021-08-13 12:22] lagemuchi commented on #9
Thank you Paulo ;-)
Gema

Paulo V C Medeiros ***@***.***> escribió:

Vínculos:
---------
[1] https://github.com/lagemuchi
[2] https://github.com/Hirlam/obsmon/issues/9#issuecomment-898342607
[3]
https://github.com/notifications/unsubscribe-auth/ATBTHM6C7Z3EPPU6SKO7PCDT4TUMZANCNFSM5BRFIVXA
[4]
https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675
[5]
https://play.

[2021-08-13 12:49] paulovcmedeiros commented on #8
Hi @roger-randria ,

The error bars already indicate the range "average +/- stdDev" whenever it is applicable. There is also already a new plot called "Average First Guess and Analysis Bias/RMS".

I could reopen this ticket if you could give me a more precise description of what you really wish to see, based on the columns you have on the sqlite data files. Mind that, if you want to be able to fil

[2021-08-13 13:04] roger-randria commented on #8
I understand and the error bars are indeed very informative. But, I found the attached issue, although most of the tested plots were OK like the other one. The fact that I have just few dataset made the plots a bit messy. So, Let's think about it. Maybe, an option with adding or not the error bars could make the system "more acceptable". The reason why I think can help is that error bars are meani

[2021-08-13 13:14] paulovcmedeiros commented on #8
There *is* actually an option to omit the error bars. You can click at the let-hand side of the labels ending with `_sd` and this will make the error bars disappear. If you want them back again, then you just need to click in the same place. That should do it.

[2021-08-13 13:15] paulovcmedeiros commented on #8
As for the second plot: I don't really understand why the width of the error bar endings became so large in that case, but I can indeed reproduce the issue here. I'll look into this. Perhaps I'll open another ticket for this particular problem separately, as this is not really the main point of discussion in the preset ticket.

[2021-08-13 13:34] roger-randria commented on #8
Wow, this is amazing. Thanks a lot.

[2021-08-16 08:24] paulovcmedeiros opened #10 "Huge errorbar widths in some of the new plots"
As for the second plot: I don't really understand why the width of the error bar endings became so large in that case, but I can indeed reproduce the issue here. I'll look into this. Perhaps I'll open another ticket for this particular problem separately, as this is not really the main point of discussion in the preset ticket.

_Originally posted by @paulovcmedeiros in https://github.com/Hirlam/ob

[2021-08-16 08:25] #10 closed

[2021-08-31 13:58] isabelmonteiro opened #11 "Possible issue installing obsmon 4.1.0 with R 4.1.1"
I'm installing obsmon 4.1.0 Since the documentation recommends R >= 3.6.3, I updated my R to the latest available version: R 4.1.1. , I'm getting the following error while  running ./install
Error: package 'argparse' was  installed before R 4.0.0: please re-install it

I uninstall R and remove all remaining arparse files from .libPaths() Next I reinstalled R and then updated argparse, the issue re

[2021-09-01 07:11] paulovcmedeiros commented on #11
Hi @isabelmonteiro ,

Using R 4.1.0 with obsmon is fine. This is rather an R-related issue with packages compiled using different versions of the interpreter.

You say you've uninstalled and removed all argparse files from `.libPaths()`. Do you mean that you manually removed *all* `argparse*` directories located inside *all* the directories listed in `.libPaths()`? This is what I would suggest (re

[2021-09-01 08:40] isabelmonteiro commented on #11
Hi @paulovcmedeiros ,
that is what I did following a similar issue in
https://stackoverflow.com/questions/24118558/complete-remove-and-reinstall-r-including-all-packages

Isabel

[2021-09-01 08:57] paulovcmedeiros commented on #11
Ok, thanks for the reply. Let's try the following then: Please go to your obsmon directory, run

`./install clean all`

and try installing again.

If that doesn't work, then run

`rm -rf utils/build/r_deps_installer/pkg_local_R-libs`

and retry.

Let me know if this helps and, if it does, if you needed to execute the  second command.

/Paulo.

[2021-09-01 10:18] isabelmonteiro commented on #11
Thanks!
./install clean all
didn't work
Running
rm -rf utils/build/r_deps_installer/pkg_local_R-libs
and then ./install again almost work... was able to install 146 R-libs, however was stopped in R-lib 80/146 :curl
Please see att prit screen
![obsmon_install](https://user-images.githubusercontent.com/17830764/131654759-8a494e4f-586d-4e19-906a-145b1d3f3dc9.png)

[2021-09-01 11:16] paulovcmedeiros commented on #11
Ok, progressing then.

Could you run the install script again, but this time as `./install --live-view-install-log` , and then attach it here?

The system should produce a logfile whenever install fails, but I can see from your screen print that the needed `.out` file could not be read at this time. Running the command as indicated above will cause the whole install log to be written to the screen

[2021-09-01 11:18] paulovcmedeiros opened #12 "`install clean` should also clean files under `utils/build/r_deps_installer/pkg_local_R-libs`"
Related to the `argparse` install issue reported in #11.

[2021-09-01 12:10] isabelmonteiro commented on #11
![obsmon_install2](https://user-images.githubusercontent.com/17830764/131668880-28f90eb5-94fc-47af-8b85-42cee51886e8.png)

[2021-09-01 12:20] paulovcmedeiros commented on #11
This time you seem to be missing a system dependency, outside of obsmon. Try to install in your system the package suggested under the `ANTICONF ERROR` message (choose the one appropriate for your case), and then run obsmon's install script again.

Let me know how it goes.

[2021-09-01 16:32] isabelmonteiro commented on #11
It went ok (apart some packages I had to install manually), however after one of these installations Cairo:
apt-get-install libcairo-dev2
got the following log
![obsmon_install3](https://user-images.githubusercontent.com/17830764/131709050-8f715f36-d82b-4fd9-9397-9eb769813d0d.png)
(from ./install -live-install log

[2021-09-02 08:22] paulovcmedeiros commented on #11
I think this is not really related to obsmon itself, but, again, due to some missing system dependency.

Could you go to your `$HOME` directory, open `R`, run

`install.packages('Cairo')`

and tell me what happens? I suspect you'll get the same error.

[2021-09-02 08:28] paulovcmedeiros commented on #11
Just as an addition to my previous message: It seems the missing system dependency is `libxt-dev`. If the `install.packages('Cairo')` command I suggested in the previous message also fails, then you can install the sys dep `libxt-dev` and try running obsmon's install script again. Let me know how it goes.

[2021-09-02 10:53] isabelmonteiro commented on #11
Installing libxt-dev and then Cairo, worked, but then something funny happen, I successfully installed obsmon (see below) but a package didn't worked, I install it, and went OK .
![obsmon_install4](https://user-images.githubusercontent.com/17830764/131831448-b1760933-ef61-48cc-b8cd-4fe459bdf6d9.png)

[2021-09-02 10:56] isabelmonteiro commented on #11
and also with DBI,

[2021-09-02 11:50] paulovcmedeiros commented on #11
Hi @isabelmonteiro ,

My test in your `$HOME` was merely to assert that something extra needed to be installed in your system before you could installed the `Cairo` R-lib. You should however not install anything there if your aim is to use it with obsmon, as obsmon uses its own environment.

Before we can proceed, please remove any library that you installed manually with the intent of using it wi

[2021-09-02 12:54] isabelmonteiro commented on #11
Hi Paulo,
Sorry ...
![obsmon_install6](https://user-images.githubusercontent.com/17830764/131847201-ee80c66c-b8f1-4343-a1fb-08b5003c7258.png)

Just following your instructions :
got the following

[2021-09-02 13:04] paulovcmedeiros commented on #11
I just noticed that:

1. There's a `*-dirty` tag in the code's version tag
2. The usual obsmon local R-lib search path (`.installer_local_R-libs/R-libs`) is not being shown under `Looking for R-libs in the following directories`

Can you send me the results of `git diff`? I suspect that some of the obsmon's files were changed in a way that made it blind to the local R-lib directory.

[2021-09-02 13:08] isabelmonteiro commented on #11
![obsmon_install6](https://user-images.githubusercontent.com/17830764/131849028-84f63ab5-d3ac-4197-ae3d-69e97faaedb8.png)

[2021-09-02 13:19] paulovcmedeiros commented on #11
Ok, as I suspected: The `.Rprofile` file was changed.

You should ideally not change any obsmon file when troubleshooting (unless I ask you to do so, of course), otherwise things get out of my reach. This is especially important for the `.Rprofile` file, as this is **the** file that controls where obsmon should look for R-libs. This is why you've been getting the strange behaviour of things being

[2021-09-02 13:44] isabelmonteiro commented on #11
![obsmon_install6](https://user-images.githubusercontent.com/17830764/131854571-5ff891fd-dbd2-4a99-84e5-d64e00fc4ace.png)

[2021-09-02 13:47] paulovcmedeiros commented on #11
So installation worked. Does it work fine when you set your browser to `http://127.0.0.1:5391` ?
The warning messages shouldn't affect the way the code works.

[2021-09-02 13:53] isabelmonteiro commented on #11
Yes installation worked
I had to install firefox, but I'm not able to set my browser to http://127.0.0.1:5391
am I doing something wrong? should I install another browser ?

[2021-09-02 14:04] paulovcmedeiros commented on #11
This `http://127.0.0.1:5391` is just an address pointing to a port in your local host (your own computer). Is obsmon still running listening on that address?

You may want to try `./obsmon --launch` which will launch your default browser and point it to the appropriate address automatically. How does it go?

[2021-09-02 14:34] isabelmonteiro commented on #11
Yes I understand. I tried both ./ obsmon --launch and ./obsmon and copy past the mentioned ip address in both cases I get a msdg Gah Your tab just crash.
Apart from a warning message I also get a failed to create bus connection( see print screen above) when I run obsmon, Is this not important as well?

[2021-09-03 12:44] paulovcmedeiros commented on #11
I'm not sure this problem is related to obsmon... Just in case: Have you tried turning your computer off and on again? (no IT Crowd pun intended :) )

[2021-09-03 12:57] paulovcmedeiros commented on #1
Hi @ewhelan and @isabelmonteiro ,

I've started to look into this now, and I have two questions regarding the computation of the averages:

1. About grid averages: You may have multiple different platforms giving reports within the same grid cell. Should these reported values from different stations belonging to the same grid cell be mixed in the calculation of the averages?

2. Moving platforms m

[2021-09-03 13:29] isabelmonteiro commented on #11
Yes, I did the on and off  solution ;)
It is not indeed related with obsmon. I have 16.04.7 and this dbus issue is a problem (a google search show that). It is not so easy to solve because I'm not able to update my ubuntu. But you are right it is not an obsmon issue

[2021-09-03 13:37] ewhelan commented on #1
Yes, I think so for the same level. For BUOY/SHIP/SCATT this is straightforward - surface. For aircraft/satellite see answer 2.

I would suggest initially following what ECMWF do:
- Aircraft: 0-400 hPa/400-700 hPa/700-1000hPa could be used. See [https://www.ecmwf.int/en/forecasts/charts/obstat/temp__geo_0001_plot_o_geo_temp?facets=undefined&time=2021082800&Datatype=AMDAR&Layer=0-400hPa&Data=FG%20d

[2021-09-03 13:57] paulovcmedeiros commented on #1
Thanks @ewhelan !

I think I'll code it the way I initially intended then, with all queried levels & stations included in the average at each (lon, lat). This is because:

* For aircraft (and other non-satellite obs), the user can already select which levels to include in the queried data. This means that, if a 0-400 hPa window (or any other selection) is required, then the corresponding levels ca

[2021-09-03 13:58] isabelmonteiro commented on #1
Hi @paulovcmedeiros , @ewhelan
I was going to answer to 1. the same way as Eoin :), just would like to highlight that it is important the grid averaging is done, for LEO satellites (Metops, NOAAs, etc)  over areas larger than the observation footprint. They don't scan exactly the same area every day, a grid large enough should be taken.  An example for SCATT from NWPSAF https://nwp-saf.eumetsat.in

[2021-09-03 14:00] paulovcmedeiros commented on #11
Ok, thanks for the update then :)

I suggest you try to catch your IT guys then for this. Seems like a problem that can affect many other things in your workflow, so they probably will give it some priority.

I'll close this issue then since I think we've covered the obsmon issue. Thanks for reporting this and, of course, feel free to reopen it should you find that the obsmon part of the problem h

[2021-09-03 14:00] #11 closed

[2021-09-03 14:07] paulovcmedeiros commented on #1
Hi @isabelmonteiro ,

The grid will be up for the user to choose. This is how the domain config will look like, for instance:

[code]

I think that adressers your point.

[2021-09-03 14:08] isabelmonteiro commented on #1
I would suggest to have 4 times the satellite footprint size as the averaging grid if this cannot be an option to the user. Also important to inform the user on how many observations were used to compute the averaging.
No, it is the grid you use in the averaging

[2021-09-03 14:10] isabelmonteiro commented on #1
ASCAT-coastal has a 12.5 km grid, your o-b statistics only make sense if you use a 0.5 grid at least

[2021-09-03 14:12] isabelmonteiro commented on #1
You cannot use Harmonie grid resolution for guidance regarding the departures statistics it is too fine

[2021-09-03 14:15] paulovcmedeiros commented on #1
I though it would suffice for the user to define a grid in the config file and then use it for everything. I really don't want to hard-code all these parameters for all instruments, this would be a nightmare for maintenance in the long run, as there are many different types of observations and only one person performing the maintenance of the code...

If it is important to have different grids for

[2021-09-03 14:16] paulovcmedeiros commented on #1
Min that this grid config is just an example. It is the **user** who defines whatever grid they want. What I've shown here is just an example of the format the user would emply to specify the desired grid. These are not hard-coded.

[2021-09-03 14:18] isabelmonteiro commented on #1
You could do this just for scatt such a nice observation ;) and you could set the averaging grid size to 50 km.

[2021-09-03 14:22] paulovcmedeiros commented on #1
I would really rather not hard-code these grid parameters. Leaving it up to the user means more freedom for them and less maintenance for me... If I set it to 50 km for scatt, then someone may, for whatever reason, ask me to set it to something else for some special case. And it would also leave the possibility open for everything else to be set by me as well...

[2021-09-03 14:28] isabelmonteiro commented on #1
I think it is very useful information Paulo, Only having global averaging can be misleading. For example for the u10 component o-b has a zonal dependent bias that is not detectable when you do global averaging, it becomes close to 0 and people can live happy ever after with a nasty bias.
But of course I see your point and don't want to push you. This can always be done outside obsmon

[2021-09-27 19:34] paulovcmedeiros commented on #1
This is now available in the `devel` branch for you to test. I'm attaching some screen prints so you know roughly what to expect.

1. The new "Domain Geometry & Grid" tab where the domain specs can be entered and/or modified by the user.

![obsmon_domain_config_tab_example](https://user-images.githubusercontent.com/6304559/134971481-82da80a1-1d28-40fe-a3da-b662a084eb04.png)

The (optional) default

[2021-09-27 19:35] #12 closed

[2021-09-28 08:08] isabelmonteiro commented on #1
Thank you very much  @paulovcmedeiros! I think it looks very well.
I assume that it possible to perform these diagnostics to other observation types. Very useful!

[2021-09-28 08:15] paulovcmedeiros commented on #1
Hi @isabelmonteiro !

Yes, you can select any observation type, variable, level/channel etc in the usual way.

It would be nice if you could test it a bit before I merge the changes into `master`, just to see if there's any bug I didn't catch. You and @ewhelan are certainly better suited than me to test real-life cases :)

[2021-09-28 08:20] isabelmonteiro commented on #1
Great! Looking forward to it ! Do you need feedback until tomorrow?

[2021-09-28 11:07] paulovcmedeiros commented on #1
It would be good. I've got some other projects I need to give more attention to at the moment, and don't plan to be working much on obsmon for a while.

[2021-09-28 14:35] isabelmonteiro commented on #1
@fabiolasouza and I quickly tested the Domain&Geometry functionality and it is working very well. It will be quite useful for the observation diagnostics in our experiments. We just have a few suggestions for when you find time:
1.  The colour scale could be configured by the user (perhaps a menu in the left hand side?). The figs below are not really comparable just because the user cannot set the

[2021-09-28 14:40] paulovcmedeiros commented on #1
Hi,

Thanks for this. I'll look into your suggestions. Just about the colorscale: It is possible to change them. You need to click on the "cog" symbol at the right-hand side to open a menu that allows you to change both colormap and limits.

I'll have a look at the other suggestions tomorrow.

[2021-09-28 14:55] isabelmonteiro commented on #1
Thanks Paulo, we were not aware of this.
GREAT!

[2021-09-28 15:03] isabelmonteiro commented on #1
We can even select the colour scale!
**Genial ;)**

[2021-09-29 14:03] paulovcmedeiros commented on #1
Hi again @isabelmonteiro and @fabiolasouza ,

I have now addressed your third suggestion (that averages should only be computed if the number of matches are above a given threshold). When you select a plot of the "Average Maps" type, and there's a valid domain specified, then a `Gridded Average: Min № Obs per Grid Element` numeric input should appear in the GUI, just under `Type of Plot`. You can

[2021-10-04 10:31] paulovcmedeiros commented on #1
This has now been merged into `master`. I'm closing the issue as I think there are no more actions to result from it.

Feel free to open other issue(s) should you have other suggestions.

Many thanks for these suggestions, feedback and for testing :)

[2021-10-04 10:31] #1 closed

[2021-11-22 16:00] magnuslindskog opened #14 "OBSMON map plots managing 4dvar"
Will be highly desired by metcoop 4dvar

[2021-11-22 16:02] magnuslindskog opened #15 "plot of bias std as function of timeslot"
in 4dvar. very nice if it could work for average statistics as well

[2021-11-22 16:04] magnuslindskog opened #16 "maps and averaged maps for bg in obspace"
I think I have mentioned this before, might be a ticket already there.
for maps there is ob-fg (fg depar) and ob. Should be straightforward to
ass as well bg in obspace =ob+fgdepar. Would be very useful.

[2021-11-22 16:05] magnuslindskog opened #17 "comaring two experiments in obsmon"
Hi.
would be very useful to be able to compare two experiments in obsmon.
std and bias for one cycle or more. Say metccop oper ves preop.

[2021-11-29 13:02] hdidoufatima opened #18 "issue running obsmon 4.2.0 with R 4.1.0 in mode batch"
I have installed obsmon 4.2.0 with R 4.1.0.  While running obsmon in mode batch with the line command ./obsmon --batch, I'm getting the following warning
" WARN [2021-11-25 11:21:04] makeBatchPlots: Could not detect any batch-enabled multiPlot", and no plot is produced.
The config.toml file used is as follows:

[general]
    logLevel = "INFO"
    cacheDir="/home/hdiddou/.obsmon/experiments_cache/"

[2021-12-03 09:10] paulovcmedeiros commented on #18
Hi @hdidoufatima ,

Does the multiPlot itself work? I mean, if you go to the GUI and look under the "User-configured multiPlots" tab, is this multiPlot shown there?

Also, to help troubleshooting, could you also attach your ful log?

[2021-12-03 14:34] hdidoufatima commented on #18
Hi @paulovcmedeiros

Yes, the multiplot works very well. Under "User-configured multiPlots" tab, when I click on "Make multiplot", I get a multiplot  Figure.

Here is the log of the batch mode running:

hdiddou@hdiddou-HP-ProDesk-600-G1-SFF:~/obsmon$ ./obsmon --batch
==================================================
   ____  _
  / __ \| |
 | |  | | |__  ___ _ __ ___   ___  _ __
 | |  | | '_ \/ __

[2022-01-18 17:50] BertvanUlft opened #19 "Installation of obsmon fails on Fedora 35"
When installing obsmon 4.1.0 & 4.2.0 on Fedora 35 it fails with errors like:

[code]

Installing the package stringi in R manually in the directory where obsmon expects it works fine. After then tar.gzipping it in ```obsmon-4.2.0/.installer_local_R-lib/compiled_binaries/x86_64-redhat-linux-gnu-Fedora-35/R_4.1``` and updating the .installer_pkg_versions.txt it goes a bit further until it crashes in

[2022-01-18 17:53] BertvanUlft opened #20 "Warning on Fedora 35 with obsmon-4.2.0"
On Fedora 35, obsmon-4.2.0 gives a warning when it is started:

[code]
This can be fixed by replacing multisession with multicore in src/init.R.

[2022-01-31 16:07] ewhelan opened #21 "Default map settings"
Hi @paulovcmedeiros

I am looking at some data coverage plots in 4.2 and have a question ...

I have defined my Harmonie domain - it works beautifully. Thanks! However, the default map centre seems to be shifted too far south. See attached screen-shot. Can you suggest and changes that might fix this?

@ewhelan
![Screenshot from 2022-01-31 16-02-27](https://user-images.githubusercontent.com/1761220

[2022-02-08 14:19] paulovcmedeiros commented on #19
Hi!

I've finally had time to look into this. This was a bug in the install script, thanks for reporting. It should now be fixed (v4.3.0). See <https://github.com/Hirlam/obsmon/commit/8d8f55dba7b5130d41d06fc43d42deaa64b29fbf>.

I'll close the issue but feel free to make a new report should you continue to face this issue.

[2022-02-08 14:19] #19 closed

[2022-02-08 14:23] #21 closed

[2022-02-08 14:23] paulovcmedeiros commented on #21
Done :)

[2022-02-10 08:55] paulovcmedeiros commented on #19
What do you mean? Did you need to update packages *after* this update? You shouldn't in principle need to do this after this update, but, if you did, which packages were those and why did you need to update them?

[2022-02-10 09:31] BertvanUlft commented on #19
Compilation of three packages failed with the list in git. I changed these to more recent changes, that I also used in my dodgy obsmom-4.2.0 installation:
[code]
I haven't stored the errors it gave.

[2022-02-10 09:52] paulovcmedeiros commented on #19
Would you be able to run the install again with the original packages (ans using the `--live` option )? It would be good for me to understand why they failed for you, because in my (limited) test environments the install worked fine. I may even update these packages in the repo if I see that it's a general issue.

For context: The reason I fixed these pkg versions is that they are updated quite fr

[2022-02-10 11:15] BertvanUlft commented on #19
Great, didn't know the --live option. I tried it on a different Fedora 35 system, it gave the same errors (see below, click to expand). Is there a good method to find a consistent, non-conflicting set of package versions?

<details>
<summary>The crash for isoband:</summary>

[code]
</details>

<details>
<summary>The crash for RcppTOML:</summary>

[code]
</details>

<details>
<summary>testthat erro

[2022-02-18 11:48] roger-randria opened #22 "Installation problem"
1) I have a problem when trying to install the newest version of obsmon. I get the following error:
./install
Error in isFALSE(args$versions_file) : could not find function "isFALSE"
Calls: source ... .sourceNeededFiles -> source -> withVisible -> eval -> eval
Execution halted

This is what I have on this machine:
R --version
R version 3.4.4 (2018-03-15) -- "Someone to Lean On"
Copyright (C) 2018

[2022-02-18 11:50] roger-randria opened #23 "Adding All-Sky radiance in Obsmon interface"
When you have time, could you please help us (Roohollah & me) to add the visualisation of the All-sky radiance observations the same way as for radiances (Obstype satem). The difference is that:
-- for clear sky assimilation:
     -- obstype: 7
     -- name: satem
     -- subtype: 119
-- for All-sky assimilation:
     -- obstype: 16
     -- name: allsky
     -- subtype: 215

Both have as var_name:

[2022-02-18 12:28] paulovcmedeiros commented on #22
Hi Roger,

This one is easy: Obsmon requires `R >= 4.0.5` (see the "Installing, executing and updating" section in the docs). This function didn't exist in earlier versions of R.

The solution is to update the version of the R interpreter that you are using.

[2022-02-18 12:28] #22 closed

[2022-05-24 10:59] paulovcmedeiros opened #24 "Map plots add too much jitter when n_obs is small"
See attached figure for an example.
![obsmonexample](https://user-images.githubusercontent.com/6304559/170019616-4a1dd0d6-8a57-4646-848d-ed99af8c4577.png)

[2022-05-24 11:06] #24 closed

[2022-05-24 12:54] roger-randria opened #25 "R Version conflict ?"
./install --local-install
Directories in the R library search path (in order of priority):

Gathering R-libraries used in the ".R" files in current dir and subdirs...Error in readRDS(file) :
  cannot read workspace version 3 written by R 3.6.3; need R 3.5.0 or newer
Error in readRDS(file) :
  cannot read workspace version 3 written by R 3.6.3; need R 3.5.0 or newer
Error in readRDS(file) :
  canno

[2022-05-25 07:06] paulovcmedeiros commented on #25
Hi Roger!

What version of obsmon are you using? The code requires R >= 4.0.5.

[2022-05-25 07:59] roger-randria commented on #25
Hi Paulo,
Indeed sorry to disturb you. There were a few reasons for the failure:
 -- I had a few versions of R installed.
 -- Then I tried to install a package which didn't have full components under my op system.
 -- I had to uninstall the full R package, and stop the access to the wrong software packages.
 -- Reinstalling a higher version of R was easy after the above steps.

So, thanks for the

[2022-05-25 08:18] paulovcmedeiros commented on #25
No problem at all, feel free to get back in touch if you need more support.

[2022-05-25 08:18] #25 closed

[2022-06-29 10:23] khintz commented on #19
I am facing the same issue as @BertvanUlft on Ubuntu 22.04, when I'll try to deploy obsmon with ansible.
I am checking out version 4.3.0, but I still see the error:

[code]
I have tried installing `stringi=1.7.3` using devtools before installing obsmon, which succeeds, but the obsmon install script still gives the same error.

For reference I give my R related ansible steps below:

<details>
<summ

[2022-07-07 07:54] khintz opened #26 "No plots produced, query fails"
I have installed obsmon v. 4.3.2 ([e27e705](https://github.com/Hirlam/obsmon/commit/e27e7054a81b67d03354d0c48aadf118084b1c31)) on a fresh server running ubuntu 22.04 with ansible.

Obsmon is running and I have some sqlite files holding both ecma and ccma, eg. on the path `/obsmondata/dini/ecma/2022070512/ecma.db`
I run obsmon through a shiny-server. From these log files I see the error `preformQue

[2022-07-07 09:25] ewhelan commented on #26
Hi @khintz

I think the `partial` function comes with `purrr` which is a dependency of `dplyr` - I think. On my PC (CentOS8, R==4.0) I can see both installed in `/home/ewhelan/R/x86_64-redhat-linux-gnu-library/4.0`. Can you explore your ubuntu installation in the same way?

Eoin

[2022-07-07 09:51] ewhelan commented on #26
Great! Progress. Don't know enough about R or Obsmon to point the finger of blame here.

[2022-07-07 10:27] khintz commented on #26
The packages are also in `.installer_local_R-libs/R-libs/dplyr/` (see [.Rprofile](https://github.com/Hirlam/obsmon/blob/master/.Rprofile)).
For now, I add the `require('purrr')`, but waiting to hear if @paulovcmedeiros has any suggestions for a real fix.

[2022-07-21 12:55] paulovcmedeiros commented on #26
Hi again,

Can you try reinstalling obsmon using the version in the `devel` branch? I've made some changes to the install script. Btw, take a look at the new "Advanced install options" section of the PDF doc file. It should now be easier to install selected versions of R-packages, or install the latest versions of all packages from CRAN.

Let me know how it goes. I won't merge this into `master` u

[2022-08-02 14:22] khintz commented on #26
Hi @paulovcmedeiros,

The only things I changed was changing version of many packages, as reported in the first comment in this issue, and I had to add `require("purrr")` in `src/sqlite/sqlite_wrappers.R`
The repo is cloned so everything is brought over, also .git and .Rcache.

Now I tried using your devel branch, and it worked out-of-the-box... No changes to the code at all from my side.
I have t

[2022-08-03 07:14] paulovcmedeiros commented on #26
Hi @khintz ,

Great that the version on `devel` works! I will merge it into `master` and wrap up a new release soon then.

Thank you very much *indeed* for the ansible pipeline! This is very useful, I may even include it in a future release as a reference for those interested.

[2022-08-03 07:30] #26 closed

[2022-09-30 09:54] ewhelan opened #27 "Map rotation"
Hi @paulovcmedeiros

Is there any way to control the default rotation for maps. I would like to align the map projection with my Harmonie domain projection. I have defined the following in config.toml:
[code]
This results in the following:
![obsmon_maps](https://user-images.githubusercontent.com/17612201/193244698-fd17dd49-2e21-4ef7-a770-ee7ea08dac17.PNG)

[2022-09-30 11:41] paulovcmedeiros commented on #27
Hi @ewhelan ,

To be honest, I have never really considered this feature. But I can take a look at the options provided by the plotting engine and let you know. It does feel like something that should be available. If it is, then I'll make this configurable by the user.

Just mind that it may take some time, as my Hirlam time is pretty much finished for the year after a recent change in the budget

[2022-09-30 11:47] ewhelan commented on #27
Hi @paulovcmedeiros

If you have any quick hard-coding suggestions I would take those in the meantime. Thanks!

Eoin